@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #FDF5ED;
    color:#533B60;
    font-family:'Poppins', sans-serif;
}
.total_container{
    display: flex;
    position: relative;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.wrap{
    width:80%;
}
#alert_success{
    color: #10725b;
    font-weight: bolder;
    font-size: 18px;
    margin-bottom: 20px;
}
input{
width:100%;
height: 35px;
padding: 10px;
}
.input-control{
    margin-bottom:15px;
}
.input-control input:focus{
    outline:none;
}
.input-control.success input{
    border-color: #59A593;
}
.input-control.error input{
    border-color: #BB1005;
}
.input-control .error {
    color: #BB1005;
    font-size:11px;
    font-weight: bolder;
    height:13px;
}
button {
    width:100%;
    height: 35px;

    color:white;
    font-weight: bolder;

    background-color: #EF8D6E;
    border-radius: 3px;
    border: none;

    margin:10px auto 40px auto;
}
.link_span{
    font-size: 12px;
}
a {
    text-decoration: none;
    color: #EF8D6E;
    font-weight: 400;
}

@media screen and (min-width:360px) {
    .wrap{
        width:360px;
        padding: 30px;
    }
}